/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    flex-direction: column;
    background: #191919;
    width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    /* border: 2px solid red; */
    /* left: 2.5%; */
}
app-root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.callToActBtn:hover p{
    text-decoration: underline;
}
footer .detail .callToActBtn p{
    font-weight: 800;
    font-size: 12px;
}
footer{
    margin-top: 200px;
    width: 100%;
    align-items:  center;
    display: flex;
    flex-direction: column;
}
footer h1{
    font-size: 55px;
    color: whitesmoke;
    font-weight: 900;
    animation: osContent ease forwards, osFadeAnim ease forwards;
    animation-timeline: view();
}
footer .detail{
    display: flex;
    gap: 40px;
    align-items: center;
    animation: osContent ease forwards, osFadeAnim ease forwards;
    animation-timeline: view();
}
footer .detail > .cred{
    padding: 0px 40px;
    border-right: 1px solid gray;
    width: 100%;
    justify-content: end;
    display: flex;
    flex-direction: column;
    
}
footer .detail > .cred h5,
footer .detail .address h5{
    margin: 0;
    color: rgba(245, 245, 245, 0.187);
    font-weight: 500;
    font-size: 15px;
}
footer .detail > .cred p,
footer .detail .address p{
    color: whitesmoke;
    font-weight: 700;
    font-size: 18px;
}
footer .detail .callToActBtn{
    display: flex;
    background: #d6fb00;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    cursor: pointer;
    padding: 10px 5px;
    border: 0;
}
.callToActBtn:hover p{
    text-decoration: underline;
}
footer .detail .callToActBtn p{
    font-weight: 800;
    font-size: 12px;
}
footer .callToActBtn img{
    width: 40px;
    height: 30px;
    filter: invert(1);
    transform: rotate(180deg);
}
footer .detail .address{
    border-left: 1px solid gray;
    padding: 0px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
footer h4{
    color: whitesmoke;
    font-weight: 500;
    margin-top: 60px;
    font-size: 13px;
    animation: osContent ease forwards, osFadeAnim ease forwards;
    animation-timeline: view();
}
footer .emailEnt{
    display: flex;
    width: 100%;
    max-width: 400px;
    border-bottom: 1px solid whitesmoke;
    align-items: end;
    animation: osContent ease forwards, osFadeAnim ease forwards;
    animation-timeline: view();
}
footer .emailEnt input{
    flex: 1;
    height: 30px;
    background: transparent;
    border: 0;
    outline: 0;
    color: whitesmoke;
}
footer .emailEnt p{
    color: whitesmoke;
    position: relative;
    top: 10px;
    font-weight: 700;
    cursor: pointer;
}
footer .emailEnt p:hover{
    color: #d6fb00;
    text-decoration: underline;
}
footer .socials{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    animation: osFadeAnim ease forwards;
    animation-timeline: view();
    
}
footer .socials img{
    width: 20x;
    filter: invert(1);
    height: 20px;
    cursor: pointer;
}
footer .accreditation{
    display: flex;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
footer .accreditation p{
    font-size: 12px;
    color: whitesmoke;
}
footer .accreditation .hoverText{
    cursor: pointer;
}
footer .accreditation .hoverText:hover{
    color: #d6fb00;
}
/* @keyframes osContent {
    0%{
        transform: translateY(300px);
    }
    30%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-300px);
    }
}
@keyframes osFadeAnim {
    0%{
        filter: opacity(0);
    }
    30%{
        filter: opacity(1);
    }
    70%{
        filter: opacity(1);
    }
    100%{
        filter: opacity(0);
    }
}

@media (max-width: 850px) {
    footer h1{
        font-size: 40px !important;
    }
    footer .detail > .cred p,
    footer .detail .address p{
        font-size: 14px !important;
    }
    footer .detail > .cred h5,
    footer .detail .address h5{
        font-size: 13px !important;
    }
}
*/
@media (max-width: 650px) {
    footer .detail{
        flex-direction: column !important;
    }
    footer h1{
        font-size: 40px !important;
    }
} 
@media (max-width: 400px) {
    footer .detail .address,
    footer .detail .cred{
        padding: 0 !important;
    }
}
